<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Registro de Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-icon class="loginicon" src="assets\icon\simbolo-medicina.svg"></ion-icon>

  <ion-item color="light">
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="name" type="text" required></ion-input>
  </ion-item>

  <ion-item color="light">
    <ion-label position="floating">Apellido</ion-label>
    <ion-input [(ngModel)]="apellido" type="text" required></ion-input>
  </ion-item>

  <ion-item color="light">
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email" type="text" required></ion-input>
  </ion-item>

  <ion-item color="light">
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password" type="text" required></ion-input>
  </ion-item>

  <ion-item color="light">
    <ion-label position="floating">Confirmar Password</ion-label>
    <ion-input [(ngModel)]="confirm_password" type="text" required></ion-input>
  </ion-item>

  <ion-button class="ion-margin-top" type="submit" expand="block" color="success" (click)="onSubmit()">
    Crear Cuenta
  </ion-button>

  <ion-item color="light" class="ion-text-center">
    <ion-label>O</ion-label>
  </ion-item>

  <ion-button color="primary" expand="block" [routerLink]="['/login']">Inisiar sesion</ion-button>
</ion-content>
