
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon class="flecha" name="arrow-back-outline" [routerLink]="['/horas']"></ion-icon>
    </ion-buttons>
    <ion-title class="titulo">
      Pago
    </ion-title>
    <ion-chip class="avatar">
      <ion-avatar>
        <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
      </ion-avatar>
      <ion-label>Juan</ion-label>
    </ion-chip>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="pagoForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">tipo de pago</ion-label>
        <ion-input formControlName="tipo" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">agenda</ion-label>
        <ion-input formControlName="agenda" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">fecha</ion-label>
        <ion-input formControlName="fecha" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">monto</ion-label>
        <ion-input formControlName="monto" type="text" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
            <ion-button type="submit" color="primary" expand="block" [routerLink]="['/exito']">Pagar</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
