.loginicon{
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}

.imagen-pago{ 
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block; 
}

.margen{
    margin-top: 100px;
}