<ion-content>
  <ion-card class="margen">
    <ion-card-content color="light">

      <ion-item>
        <ion-label position="floating">Número de Tarjeta</ion-label>
        <ion-input [(ngModel)]="cardnumber" type="text" required></ion-input>
      </ion-item>

      <ion-item >
        <ion-label position="floating">Nombre Completo</ion-label>
        <ion-input [(ngModel)]="fullname" type="text" required></ion-input>
      </ion-item>

      <ion-item >
        <ion-label position="floating">MM/YY</ion-label>
        <ion-input [(ngModel)]="fvencimiento" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">CVC</ion-label>
        <ion-input [(ngModel)]="cvc" type="password" required></ion-input>
      </ion-item>

      <ion-button class="ion-margin-top" type="submit" expand="block" color="primary" (click)="onSubmit()">
        Pagar
      </ion-button>
      <img class="imagen-pago" src="../../assets/img/fondo-pago.webp">
    </ion-card-content>
  </ion-card>
</ion-content>