<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon class="flecha" name="arrow-back-outline" [routerLink]="['/horas']"></ion-icon>
    </ion-buttons>
    <ion-title class="titulo">
      Pago
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="updateAgendaFg" (ngSubmit)="onSubmit()">

        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input  type="text" required></ion-input>
        </ion-item>

      
      

      <ion-list>
        <ion-item>
          <ion-label>Medico</ion-label>
          <ion-select placeholder="Seleccione" required>
            <ion-select-option value="greghouse@medico.com">Gregory House</ion-select-option>
            <ion-select-option value="correo@medico.com">Nose Llama</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-label>Especialidad</ion-label>
          <ion-select placeholder="Seleccione" required>
            <ion-select-option value="1">Medicina general</ion-select-option>
            <ion-select-option value="2">naruto</ion-select-option>
            <ion-select-option value="3">Neurologia</ion-select-option>
            <ion-select-option value="4">Cardiologia</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-label>YYYY MM DD</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" min="2021-11-01" max="2022-06" placeholder="Seleccione fecha de atención"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>hh:mm a</ion-label>
        <ion-datetime displayFormat="HH:mm" placeholder="Seleccione hora de atención"></ion-datetime>
      </ion-item>

      <ion-list>
        <ion-item>
          <ion-label>Sucursal</ion-label>
          <ion-select placeholder="Seleccione" required>
            <ion-select-option value="1">Centro Quillicura</ion-select-option>
            <ion-select-option value="2">Centro Renca</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-button class="flotar-derecha" type="submit"  color="primary" (click)="onSubmit()">
        Actualizar
      </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
