.titulo{
    float:center;
    margin: right 34px;;
    
}
.margen{
    margin-top: 15px;
  }

.fondocard{
    background-color: honeydew!important;
  }
.flecha{
    height:35px;
    width: 40px;
    float:right;

}