.my-custom-menu {
    --width: 500px;
  }

  .margen{
    margin-top: 100px;
  }

  .avatar{
    float: right;
  }

  .titulo{
      float: left;
      margin-top: 10px;
  }

  .subir{
    position: relative;
    bottom: 80%;
  }

  .margen-text{
    margin: 10px;
  }
  .flotar-derecha{
    float: right;
    margin-bottom: 10px;
  }
  .flecha{
      height: 25px;
      width: 25px;
  }