<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo">
      Bienvenido
    </ion-title>
    <ion-chip class="avatar">
      <ion-avatar>
        <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
      </ion-avatar>
      <ion-label>Juan</ion-label>
    </ion-chip>

  </ion-toolbar>
</ion-header>

<ion-app>
  <ion-menu side="start" menuId="first" contentId="content">
    <ion-header>
      <ion-toolbar color="success">
        <ion-title>Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="light">
      <ion-list>
        <h1 class="ion-text-center">Menu Principal</h1>
        <!--<ion-icon name="calendar-outline"></ion-icon>-->
        <ion-item [routerLink]="['/tab']">
          <ion-label floating>
            <ion-icon name="home" item-start class="text-primary"></ion-icon>
            Inicio
          </ion-label>
        </ion-item>
        <ion-item [routerLink]="['/agendar-hora']">
          <ion-label floating>
            <ion-icon name="add-circle-outline" item-start class="text-primary"></ion-icon>
            Agendar Hora
          </ion-label>
        </ion-item>
        <ion-item [routerLink]="['/datos-personales']">
          <ion-label floating>
            <ion-icon name="person" item-start class="text-primary"></ion-icon>
            Datos Personales
          </ion-label>
        </ion-item >
        <ion-item [routerLink]="['/pago']">
          <ion-label floating>
            <ion-icon name="card" item-start class="text-primary"></ion-icon>
            Pago
          </ion-label>
        </ion-item >
        <ion-item (click)="validarSalida()">
          <ion-label floating>
            <ion-icon name="exit" item-start class="text-primary"></ion-icon>
            Salir
          </ion-label>
        </ion-item>
      </ion-list>
              
    </ion-content>
  </ion-menu>
  <ion-router-outlet Id="content"></ion-router-outlet>

  <ion-card class="margen">
    <ion-card-header>
      <ion-img src="assets\img\centro-medico.jpg"></ion-img>
      <ion-card-title>Centro Medico Galenos</ion-card-title>

      <ion-card-subtitle>+56 2 1234 5678</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque aspernatur minus cupiditate accusantium quaerat velit voluptatum rem aperiam sequi deserunt. Animi optio adipisci corporis laudantium praesentium sunt est tempore impedit!
    </ion-card-content>
  </ion-card>


</ion-app>