<ion-header>  
  <ion-toolbar color="primary">  
    <ion-buttons slot="start">  
      <ion-menu-button color="dark"></ion-menu-button>   
    </ion-buttons>  
    <ion-title>  
      Bienvenido
    </ion-title>  
  </ion-toolbar>   
</ion-header>  

<ion-app>  
  <ion-menu side="start" menuId="first" contentId="content">  
    <ion-header>  
      <ion-toolbar color="success">  
        <ion-title>Content</ion-title>  
      </ion-toolbar>   
    </ion-header>  
    <ion-content color="light">
      <ion-list>
        <h1 class="ion-text-center">Menu Principal</h1> 
        <!--<ion-icon name="calendar-outline"></ion-icon>-->
        <ion-item>Dashboard</ion-item>
        <ion-item>Toma de Hora</ion-item>
        <ion-item>Agenda</ion-item>
        <ion-item [routerLink]="['/login']">Salir</ion-item>
      </ion-list>
    </ion-content>   
  </ion-menu>  
  <ion-router-outlet Id="content"></ion-router-outlet>  
</ion-app> 

