.my-custom-menu {
    --width: 500px;
  }

  .margen{
    margin-top: 100px;
  }

  .avatar{
    float: right;
  }

  .titulo{
      float: left;
      margin-top: 10px;
  }

  .subir{
    position: relative;
    bottom: 80%;
  }