.loginicon{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}

.fondo-login{ 
    --background: url(../../assets/img/fondo-centro-medico.jpg) 0 0/100% 100% no-repeat;
}

.margen{
    --ion-background-color: #fdfdfd!important;
    
}

