.loginicon{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}

.fondo-login{ 
    --background: radial-gradient(circle at 50% 50%, #ffffff 0, #ffffff 10%, #f5ffff 20%, #e7ffff 30%, #dbffff 40%, #cff7f3 50%, #c5dcdc 60%, #bcc5c6 70%, #b4b2b2 80%, #ada3a0 90%, #a69892 100%), url(../../assets/img/fondo-centro-medico.jpg) 0 0/100% 100% no-repeat;
}


.margen{
    --ion-background-color: transparent;
    border-radius: 30px;
    
}

.alert-wrapper {
    --background: #221010;
  }

